<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <script src = "/js/jquery.js"></script>
    <script src = "/js/bootstrap.js"></script>
    <script src = "/js/global.js"></script>
  </head>
  <body>
  	<h1><%= title %></h1>
  	<ul class="nav nav-tabs">
	  <li role="presentation" class="active nav_tab" id="home_tab"><a href="/">Home</a></li>
	  <li role="presentation" class="nav_tab" id="news_tab"><a href="news">News</a></li>
	</ul>

  <h1> Welcome to <%= title %>!</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi a nisl nisl. Maecenas velit odio, luctus eget lobortis et, aliquam id magna. Sed lacus quam, mattis non suscipit id, fermentum vitae mi. Nam at commodo nunc, eget euismod ligula. Sed vel mollis neque. Curabitur vulputate elementum semper. Aliquam eget lacus sollicitudin, pellentesque quam eget, auctor magna. Etiam dignissim justo id ligula euismod suscipit. Integer molestie metus metus, et pulvinar odio vestibulum ac. Aenean id massa vitae nunc fringilla imperdiet nec sed nisi. Integer facilisis diam quam, in congue dolor sollicitudin pulvinar. Sed ornare arcu sapien, eget scelerisque ex maximus sit amet.
  </p>
  <p>
    Proin ac eros tellus. Nulla vel bibendum massa, at bibendum mi. Vestibulum sit amet elit vitae ligula feugiat efficitur. Morbi a aliquet felis, et facilisis diam. Mauris tristique, mi in vestibulum fermentum, odio augue ullamcorper lorem, non sodales metus libero ac ante. Aliquam placerat, velit sed aliquet posuere, nisi odio cursus eros, nec vehicula ligula augue vitae nisi. Aliquam vestibulum vestibulum luctus. Etiam suscipit eleifend fringilla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam viverra in lacus eget lobortis. Sed laoreet arcu est, porttitor tincidunt purus venenatis vel. Nullam et dignissim erat. Fusce vitae felis porta, fermentum arcu non, gravida mi. Nunc sed faucibus odio, quis aliquam nisl.
  </p>

  </body>
</html>
